.DS_Store
Session.vim
nvim/.config/nvim/tmp
nvim/.config/nvim/spell
nvim/.config/nvim/plugged
nvim/.config/nvim/.netrwhist
nvim/.config/nvim/.vimundo
tmux/.config/tmux/plugins
zsh/.config/zsh/load_plugins.sh
